Repository homebridge-plugins/homebridge-smarthq, pull requests merged in 2025-03, with the labels that each got.

#18 v0.3.0
  CHANGELOG.md
  config.schema.json
  docs/functions/default.html
  package-lock.json
  package.json
  src/devices/device.ts
  src/devices/icemaker.ts
  src/homebridge-ui/public/index.html
  src/platform.ts
  src/settings.ts
Labels: enhancement, docs, dependencies, latest, minor

#20 Progress feature update
  .vscode/settings.json
  README.md
  config.schema.json
  package-lock.json
  package.json
  src/devices/OpalIceMaker/Managers/OpalFilterMaintenanceSvcManager.ts
  src/devices/OpalIceMaker/Managers/OpalMetadataSvcManager.ts
  src/devices/OpalIceMaker/Managers/OpalMonitorManager.ts
  src/devices/OpalIceMaker/Managers/OpalNightlightSvcManager.ts
  src/devices/OpalIceMaker/Managers/OpalPowerSvcManager.ts
  src/devices/OpalIceMaker/Managers/OpalProgressSvcManager.ts
  src/devices/OpalIceMaker/Managers/StatusManagers/OpalAddWaterStatusSvcManager.ts
  src/devices/OpalIceMaker/Managers/StatusManagers/OpalIceBucketStatusSvcManager.ts
  src/devices/OpalIceMaker/Managers/StatusManagers/OpalStatusBase.ts
  src/devices/OpalIceMaker/Managers/StatusManagers/index.ts
  src/devices/OpalIceMaker/Managers/index.ts
  src/devices/OpalIceMaker/OpalDeviceBase.ts
  src/devices/OpalIceMaker/README.md
  src/devices/OpalIceMaker/index.ts
  src/devices/icemaker.ts
  src/homebridge-ui/public/index.html
  src/index.ts
  src/platform.ts
  src/settings.ts
  tsconfig.json
  vitest.config.ts
Labels: enhancement

#21 Favor deviceOptions over options for options that are specific to devices.
  package-lock.json
  src/devices/OpalIceMaker/Managers/OpalFilterMaintenanceSvcManager.ts
  src/devices/OpalIceMaker/Managers/OpalMetadataSvcManager.ts
  src/devices/OpalIceMaker/Managers/OpalProgressSvcManager.ts
  src/devices/OpalIceMaker/Managers/StatusManagers/OpalAddWaterStatusSvcManager.ts
  src/devices/OpalIceMaker/Managers/StatusManagers/OpalIceBucketStatusSvcManager.ts
  src/homebridge-ui/public/index.html
  src/platform.ts
  src/settings.ts
Labels: enhancement, dependencies, beta

#24 Fast Follower- Remove Unnecessary info logs
  src/devices/OpalIceMaker/Managers/OpalDescaleSvcManager.ts
Labels: enhancement, beta

#25 Opal Scheduling Manager
  src/devices/OpalIceMaker/Managers/OpalFilterMaintenanceSvcManager.ts
  src/devices/OpalIceMaker/Managers/OpalMetadataSvcManager.ts
  src/devices/OpalIceMaker/Managers/OpalMonitorManager.ts
  src/devices/OpalIceMaker/Managers/OpalPowerSvcManager.ts
  src/devices/OpalIceMaker/Managers/OpalProgressSvcManager.ts
  src/devices/OpalIceMaker/Managers/OpalSchedulingManager.ts
  src/devices/OpalIceMaker/Managers/index.ts
  src/devices/OpalIceMaker/index.ts
  src/homebridge-ui/public/index.html
  src/settings.ts
Labels: enhancement, dependencies, beta

#26 Opal Monitoring Services Improvements
  src/devices/OpalIceMaker/Managers/OpalMonitorManager.ts
  src/devices/OpalIceMaker/index.ts
Labels: enhancement, docs, dependencies, latest
